.menus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-items {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
    transition: all ease 0.1s;
    font-size: 20px;
}

.menu-items:hover,
.menu-items:last-child button:hover {
    color: red;
    /* font-size: 25px; */
    font-weight: bold;
}


.sub-about {
    display: none;
    position: absolute;
    top: 60px;
    /* right: 90px; */
    /* background: #2c2b2b; */
}

.menu-items-about {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: inherit;
}

.menu-items-about:hover {
    color: red;
    /* font-size: 25px; */
    font-weight: bold;
    background-color: #f2f2f2;
}

.menu-items:nth-child(3) button {
    background-color: inherit;
    height: 100%;
    padding: 10px 20px;
    margin: 0;
    border: none;
    outline: none;
}

.menu-items:nth-child(3):hover .sub-about {
    display: block;
    background-color: inherit;
}


.header-section {
    width: 100vw;
    height: 60vh;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-img {
    width: 45%;
    height: 100%;
}

.header-img img {
    width: 85%;
    height: 100%;
    opacity: 0.7;
}

.header-discription {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-discription h1 {
    font-size: 50px;
    color: #fff;
}

.header-discription h1 span {
    color: crimson;
}

.header-discription h1 button {
    background-color: #000000;
    color: #fff;
    border: crimson solid 1px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 25px;
    padding: 15px 10px;
    margin: 40px 120px;
    transition: all 0.5s;
}

.header-discription h1 button:hover {
    /* border: crimson solid 3px; */
    opacity: 0.8;
    box-shadow: 0 0 20px 15px rgba(218, 51, 84, 0.386);
    font-weight: bold;
}

@media only screen and (max-width:576px) {
    .nav-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menus {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        text-align: left;
    }

    .menu-items {
        display: block;
        width: 100%;
    }

    .header-section {
        display: flex;
        flex-direction: column;
    }

    .header-discription h1 {
        font-size: 20px;
    }

}